h1 {
  color: #885df1;
  padding: 20px;
}

hr {

  html,
  body {
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove default padding */
    height: 100vh;
    /* Set height to 100% of viewport height */
    width: 100vw;
    /* Set width to 100% of viewport width */
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */

  }
}

ul {
  list-style-type: square;
  /* Changes bullets to squares */
}

body {
  background-color: antiquewhite;


}