h1 {
  color: rgb(181, 39, 87);
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  align-items: center;

}

.my-button {
  background-color: rgb(228, 93, 138);
  /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  /* Smooth transition on hover */
}

.my-button:hover {
  background-color: #45a049;
  /* Darker green on hover */
}

body {
  background-color: lightgray;
}

.second-list {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  line-height: 30px;
}

.second-list {
  list-style-type: none;
  padding-left: 0;
}

.second-list ::before {
  content: "\2605";
  color: palevioletred;
  margin-right: 0.5em;
}

p {
  padding-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 150px;
  padding-bottom: 20px;

}

.flex-item {
  padding: 20px;
  background-color: lightsteelblue;
  border: 1px solid green;
  color: #333;
}

h4 {
  padding-bottom: 15px;
  padding-top: 10px;
  border: 100px;
}

.navbar a:hover {
  background-color: #ddd;
  color: green;
}


.flipcard {
  background-color: transparent;
  width: 290px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: pink;
  color: black;
}

.flip-card-back {
  background-color: pink;
  color: white;
  transform: rotateY(180deg);
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}